WebApi/.DS_Store
WebApi/.vs
WebApi/obj
WebApi/bin
DataLayer/obj
API/bin
*.db-shm
WebApi/App_Data/products.db-wal
Test.Integration/bin
API/obj
.vs/slnx.sqlite
Test.Integration/obj
DataLayer/bin
WebUI/bin
WebUI/obj
Test.Unit/bin
Test.Unit/obj
.vs
