@page
@model IndexModel
@{
    ViewData["Title"] = "Xero Code Challenge - Ken Tan";
}

<div class="text-center">
    <h1 class="display-4">Code Challenge Demo</h1>
    <p>by Ken Tan</p>

    <h3><a href="/product"><i class="bi bi-arrow-right"> Please click here to start </i></a></h3>
</div>
